In [ ]:
#What percentage of all the licensed sets were Star Wars. Save as integer in a variable the_force.
#In which year, Star Wars wasn't the most sold set out of all the licensed sets. Save as integer in the variable new_era.

In [2]:
import pandas as pd
lego_sets = pd.read_csv(r'C:\Users\malic\Desktop\pandas\lego_sets.csv')
parent_themes = pd.read_csv(r'C:\Users\malic\Desktop\pandas\parent_themes.csv')

In [3]:
import re

In [4]:
lego_sets.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [5]:
parent_themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [6]:
df = lego_sets.merge(parent_themes,left_on='parent_theme', right_on='name')

In [7]:
df.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [8]:
df_licensed = df.loc[df['is_licensed']==True]

In [9]:
df_licensed.head(50)

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,Star Wars,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3498,10129-1,Rebel Snowspeeder - UCS,2003,1456.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3499,10131-1,TIE Fighter Collection,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3500,10134-1,Y-wing Attack Starfighter - UCS,2004,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3501,10143-1,Death Star II,2005,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3502,10144-1,Sandcrawler,2005,1679.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3503,10174-1,Imperial AT-ST - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3504,10175-1,Vader's TIE Advanced - UCS,2006,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3505,10178-1,Motorized Walking AT-AT,2007,1137.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3506,10179-1,Millennium Falcon - UCS,2007,5195.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3507,10186-1,General Grievous,2008,1084.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
3508,10188-1,Death Star,2008,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3509,10195-1,Republic Dropship with AT-OT,2009,NaN,Star Wars Clone Wars,Star Wars,158,Star Wars,True
3510,10198-1,Tantive IV,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3511,10212-1,Imperial Shuttle - UCS,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3512,10215-1,Obi-Wan's Jedi Starfighter - UCS,2010,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
3513,10221-1,Super Star Destroyer,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3514,10225-1,R2-D2,2012,2130.0,Ultimate Collector Series,Star Wars,158,Star Wars,True
3515,10227-1,B-wing Starfighter,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3516,10236-1,Ewok Village,2013,2023.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3517,10240-1,Red Five X-Wing Starfighter,2013,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3518,11912-1,LEGO Star Wars: Build Your Own Adventure,2016,NaN,Star Wars,Star Wars,158,Star Wars,True
3519,20006-1,Clone Turbo Tank - Mini,2008,64.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
3520,20007-1,Republic Attack Cruiser - Mini,2009,NaN,Star Wars Episode 3,Star Wars,158,Star Wars,True
3521,20009-1,AT-TE Walker - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
3522,20010-1,Republic Gunship - Mini,2009,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
3523,20016-1,Imperial Shuttle - Mini,2010,70.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3524,20018-1,AT-AT Walker - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3525,20019-1,Slave I,2011,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3526,20021-1,Bounty Hunter Gunship - Mini,2011,81.0,Star Wars Clone Wars,Star Wars,158,Star Wars,True
3527,2853590-1,Stormtrooper,2009,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3528,2853835-1,White Boba Fett Figure,2010,NaN,Star Wars,Star Wars,158,Star Wars,True
3529,2856197-1,Shadow ARF Trooper,2011,NaN,Minifig Pack,Star Wars,158,Star Wars,True
3530,30004-1,Battle Droid on STAP,2009,NaN,Star Wars Clone Wars,Star Wars,158,Star Wars,True
3531,30005-1,Imperial Speeder Bike,2009,33.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3532,30006-1,Clone Walker,2009,31.0,Star Wars Clone Wars,Star Wars,158,Star Wars,True
3533,30050-1,Republic Attack Shuttle - Mini,2010,54.0,Star Wars Clone Wars,Star Wars,158,Star Wars,True
3534,30051-1,X-wing Fighter - Mini,2010,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3535,30052-1,AAT - Mini,2011,NaN,Star Wars Episode 2,Star Wars,158,Star Wars,True
3536,30053-1,Republic Attack Cruiser - Mini,2011,41.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
3537,30054-1,AT-ST - Mini,2011,46.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3538,30055-1,Vulture Droid - Mini,2011,42.0,Star Wars Episode 3,Star Wars,158,Star Wars,True
3539,30056-1,Star Destroyer,2012,NaN,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True
3540,30057-1,Anakin's Pod Racer,2012,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True
3541,30058-1,STAP,2012,19.0,Star Wars,Star Wars,158,Star Wars,True
3542,30059-1,MTT,2012,51.0,Star Wars,Star Wars,158,Star Wars,True

In [10]:
df_licensed = df_licensed[df_licensed['set_num'].isnull() == False]

In [11]:
star_wars_df = df_licensed.loc[df_licensed['parent_theme'].str.contains('star wars', flags=re.I)]

In [12]:
star_wars_count = star_wars_df.shape[0]

In [13]:
df_licensed_count = df_licensed.shape[0]

In [214]:
the_force = int(star_wars_count/df_licensed_count*100)

In [215]:
print(the_force)

51

In [225]:
df_licensed = df_licensed.reset_index()

ValueError: cannot insert level_0, already exists

In [226]:
df_licensed = df_licensed.sort_values('year', ascending=True)

In [227]:
df_licensed.groupby(['year', 'parent_theme']).head()

,level_0,index,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed,count
209,209,3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,Star Wars,True,1
187,187,3680,7121-1,Naboo Swamp,1999,82.0,Star Wars Episode 1,Star Wars,158,Star Wars,True,1
212,212,3705,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,Star Wars,True,1
197,197,3690,7140-1,X-wing Fighter,1999,271.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,1
191,191,3684,7128-1,Speeder Bikes,1999,93.0,Star Wars Episode 4/5/6,Star Wars,158,Star Wars,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1036,1036,10259,21133-1,The Witch Hut,2017,502.0,Minecraft,Minecraft,577,Minecraft,True,1
982,982,8673,41146-1,Cinderella's Enchanted Evening,2017,347.0,Disney Princess,Disney Princess,579,Disney Princess,True,1
979,979,8670,41143-1,Berry's Kitchen,2017,NaN,Disney Princess,Disney Princess,579,Disney Princess,True,1
984,984,8675,41148-1,Elsa's Magical Ice Palace,2017,NaN,Disney Princess,Disney Princess,579,Disney Princess,True,1
983,983,8674,41147-1,Anna's Snow Adventure,2017,NaN,Disney Princess,Disney Princess,579,Disney Princess,True,1

In [228]:
df_licensed['count'] = 1

In [229]:
df_grouped = df_licensed.groupby(['year', 'parent_theme'])['count'].sum().reset_index()

In [230]:
df_sorted = df_grouped.sort_values(['count'], ascending = False).drop_duplicates(['year'])

In [231]:
df_sorted.sort_values(['year'])

    year  parent_theme  count
0   1999     Star Wars     13
2   2000     Star Wars     26
4   2001     Star Wars     14
6   2002     Star Wars     28
9   2003     Star Wars     32
12  2004     Star Wars     20
16  2005     Star Wars     28
20  2006     Star Wars     11
24  2007     Star Wars     16
28  2008     Star Wars     23
32  2009     Star Wars     39
36  2010     Star Wars     30
42  2011     Star Wars     32
47  2012     Star Wars     43
52  2013     Star Wars     35
59  2014     Star Wars     45
67  2015     Star Wars     58
76  2016     Star Wars     61
82  2017  Super Heroes     72

In [232]:
new_era = df_sorted.loc[~df_sorted['parent_theme'].str.contains('star wars', flags=re.I)].reset_index()

In [224]:
print(new_era['year'])

0    2017
Name: year, dtype: int64